# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

# Snippet Format: https://github.com/atom/snippets


################################################################################
# JS Snippets
'.text.js, .source.js':

  'Outline':
    'prefix': 'outline'
    'body': 'css(\'outline\', \'2px solid ${1:red}\');$0'

################################################################################
# HTML Snippets
'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin':

  'Outline':
    'prefix': 'outline'
    'body': 'style="outline: 1px solid Orangered;$1"$0'

  'Data Behavior':
    'prefix': 'data-behavior'
    'body': 'data-behavior="$0"'

################################################################################
# CSS / SCSS Snippets
'.source.css, .source.scss, .source.sass, .source.less':

  'Lint:SCSS Disable all':
    'prefix': 'lint'
    'body': '// scss-lint:disable ${1:all NestingDepth SelectorFormat TrailingSemicolon SpaceAfterPropertyColon}'

  'Outline CSS':
    'prefix': 'outline'
    'body': 'outline: 1px solid red;$1'

  'Centered Text':
    'prefix': 'center'
    'body': 'text-align: center;$1'

  'Breakpoint':
    'prefix': 'break'
    'body': """
      @include breakpoint(${1:XS S SM M MML ML MLL L XL XXL}${2:, down}) {
        $0
      }

    """

  'Breakpoint: USWDS':
    'prefix': 'break:uswds'
    'body': """
      @include media(${1:$small-screen}${2: $medium-screen}${3: $large-screen}) {
        $0
      }
    """

################################################################################
# JS Snippets
